[MASTER]
# Use multiple processes to speed up Pylint
jobs=1

[MESSAGES CONTROL]
# Disable specific warnings that are too strict for this project
disable=
    C0111,  # missing-docstring (we have comprehensive docstrings where needed)
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# Number of spaces per indentation level
indent-string='    '

[BASIC]
# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,f,e,db,os,id

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of attributes for a class
max-attributes=10

# Maximum number of locals for function / method body
max-locals=20
